.container {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  overflow: hidden;
}

.lead {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  flex-shrink: 1;
  position: relative;
}

.highlighter {
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: transparent;
  pointer-events: none;
}

.tail {
  white-space: pre;
}